<div class="container">
  <div class="user-details">
    <h3>About Me</h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Game-Design</h4>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>One of my greatest passions is video-game design. Currently the main engine I use is Unity.    
</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p>My most comfortable languages are Python and C# but I love learning new languages and frameworks. </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-unity-original-wordmark"></i>
      <p>Other tools I use every day.</p>
    </div>
  </div>
</div>
