<div class="container">
	<div class="user-details">
		<h3>Art</h3>
		<p> When I am not programming I also enjoy doing 3D art, especially 3D sculpting on Zbrush. You can see some of my simple sculpts below.</p>
	</div>
	
	<div class="fotorama" data-width="800" data-height="600" align="middle">
		<img src="{{site.baseurl}}/assets/folio/Port1.JPG">
		<img src="{{site.baseurl}}/assets/folio/Port2.JPG">
		<img src="{{site.baseurl}}/assets/folio/Port3.JPG">
		<img src="{{site.baseurl}}/assets/folio/Port4.JPG">
		<img src="{{site.baseurl}}/assets/folio/Port5.JPG">
		<img src="{{site.baseurl}}/assets/folio/Port6.JPG">
	</div>
</div>
