<div class="container">
  <div class="user-details">
    <h3> My Projects</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Project1" src="{{ "/assets/img/thesis.JPG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Thesis: Multiplayer Racing Game</h5>
      <li>Programming, Modeling </li>
      <p>For my university thesis I took on the task of developing a game in Unity3D and analyze all the underlying aspects of video game design.
      </p>
      <a class="project-link" href="http://epinoetic.org/Students/moiragias.pdf">Thesis Text</a>
      <a class="project-link" href="https://www.youtube.com/watch?v=FhizY4vLFNQ">Gameplay Video</a>
      <a class="project-link" href="https://github.com/miragias/car_game_ptixiaki">Game Code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Project2" src="{{ "/assets/img/discord.JPG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Discord Python Bot</h5>
      <ul>
        <li>Bot, API</li>
      </ul>
      <p>For this project I designed a discord bot which we  used on our greek gaming server. It helped us with
      automation of tasks like adding roles to users as well as having some games for the users to play.</p>
      <a class="project-link" href="https://github.com/miragias/discordcasinobot">Bot Repository</a>
    </div>
  </div>
</div>
